#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  test:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10-browsers
        env:
          - CHROME_BIN=/usr/bin/google-chrome
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm test
      - save_cache:
          paths:
            - node_modules
            - package.json
          key: v1-dist-build-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10-browsers
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dist-build-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Build
          command: npm run build
      - save_cache:
          paths:
            - dist
            - package.json
            - firebase.json
            - .firebaserc
          key: v1-dist-deploy-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
  deploy:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10-browsers
    working_directory: ~/repo
    steps:
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dist-deploy-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Firebase
          command: npm install --save-dev firebase-tools
      - run:
          name: Deploy to Firebase
          command: npm run firebase-deploy -- --token=$FIREBASE_TOKEN
workflows:
  version: 2
  -deploy:
    jobs:
      - test
      - build:
          requires:
            - test
          filters:
            branches:
              only: in-memory
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: in-memory

