<form [formGroup]="customform">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pl-1 pr-1">
      <div class="form-group">
        <label for="serialInput">Serial</label>
        <input type="text" class="form-control" id="serialInput" aria-describedby="serialHelp" placeholder="Serial" formControlName="serial">
        <div *ngIf="customform.controls.name.invalid && customform.controls.name.touched" class="pl-2">
          <div *ngIf="customform.controls.name.errors.required">
            <small id="serialHelp" class="form-text error">Required</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Name" formControlName="name">
        <div *ngIf="customform.controls.name.invalid && customform.controls.name.touched" class="pl-2">
          <div *ngIf="customform.controls.name.errors.required">
            <small id="nameHelp" class="form-text error">Required</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ipv4Input">Ipv4</label>
        <input type="text" class="form-control" id="ipv4Input" aria-describedby="ipv4Help" placeholder="ex: 255.255.255.255" formControlName="ipv4">
        <div *ngIf="customform.controls.ipv4.invalid && customform.controls.ipv4.touched" class="pl-2">
          <div *ngIf="customform.controls.ipv4.errors.required; else patternBlock">
            <small id="required" class="form-text error">Required</small>
          </div>
          <ng-template #patternBlock>
            <small id="pattern" class="form-text error">Wrong format for Ipv4</small>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"  (click)="submit()">{{action}}</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.close('Close click')">Close</button>
  </div>
</form>


