<div class="text-center mb-2 mt-3">
  <ngb-alert [type]="alertStatus" *ngIf="showAlert" (close)="closeAlert()">
    {{alertMessage}}
  </ngb-alert>
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0">
      Gateways
    </h3>
    <button class="btn btn-success ml-2" title="Add Gateway" (click)="openAdd(content)"><i class="fas fa-plus"></i></button>
  </div>
</div>
<div class=" text-center pb-5">
  <div *ngIf="gateways.length > 0 ; else emptyBlock" class="row mr-0 ml-0 w-100 overflow-auto">
    <table class="table table-striped mt-4 font" >
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Ipv4</th>
        <th>Devices</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let gateway of gateways ">
        <td>{{gateway.id}}</td>
        <td>{{gateway.name}}</td>
        <td>{{gateway.ipv4}}</td>
        <td>{{gateway.devices.length}}</td>
        <td>
          <a routerLink="/gateway/{{gateway.id}}" title="View {{gateway.name}}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
          <button class="btn btn-primary ml-1" title="Edit {{gateway.name}}" (click)="openEdit(content,gateway.id)"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #emptyBlock>
    <ngb-alert [type]="'info'" [dismissible]="false">
      There are not Gateways
    </ngb-alert>
  </ng-template>
</div>

<ng-template #content let-d="dismiss" let-c="close">
  <app-form-gw [entity]="entity" [action]="action" [close]="c" [dismiss]="d" [params]="data"></app-form-gw>
</ng-template>
